<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifehelp_main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.lifehelp_main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.lifehelp_main.calculator.CalculatorActivity" >
        </activity>
        <activity android:name="com.example.lifehelp_main.express.ChooseCompanyAty" >
        </activity>
        <activity android:name="com.example.lifehelp_main.express.ExpressActivity" >
        </activity>
        <activity android:name="com.example.lifehelp_main.contents.ContentsActivity" >
        </activity>
        <activity android:name="com.example.lifehelp_main.notebook.NotebookActivity" >
        </activity>
        <activity android:name="com.example.lifehelp_main.notebook.NewNoteAty" >
        </activity>
        <activity android:name="com.example.lifehelp_main.calendar.CalendarActivity" >
        </activity>
        <activity android:name="com.example.lifehelp_main.weather.AddCityAty" >
        </activity>
        <activity android:name="com.example.lifehelp_main.weather.WeatherActivity" >
        </activity>
        <activity android:name="com.example.lifehelp_main.about.AboutActivity"></activity>
    </application>

</manifest>